body{

	background: #FAEDCA;
	margin: 100px;
	font-family: ubuntu;
}





h1{
	color: #AF5B5B;
	background: #FAEDCA;
	text-align: center;
	font-size: 50px;
	font-weight: 500;

}

h2{
	color: #FE5D26;
}
img{
	width: 958px;
	height: 958px;
	object-fit: cover;
}

.center-content {
	text-align: center;
}

.alexis {
	background-color: #B26E63;
	padding: 10px;
	margin: 1px;
}

.element-aligned {
	display: flex;
	justify-content: space-around;
}
.size-poster{
	width: 30%;

}

.image-taille-moyenne{
	width: 100%;
}